@using Microsoft.AspNetCore.Identity


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Harrison's Books - An Online Used Bookstore</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrapmod.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    @RenderSection("Styles", false)
</head>

<body>
   @*  <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End --> *@


    <!-- Navbar Start -->
    @* <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0"> *@

               @*  <a href="~/" class="navbar-brand">
                    <h2 class="text-white">Harrison's Used Books</h2>
                </a> *@



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* <a class="navbar-brand" asp-controller="Home" asp-action="Index"><h2>Harrison's Used Books</h2></a> *@
                @* <h1 class="text-primary mb-0"><span class="fw-light text-dark">Seminal Texts</span>For Your Shelf</h1> *@
                <h1 class="logo me-auto text-dark mb-0 me-4"><a href=@Url.Action("Index", "Home")><strong>Harrison's Used Books</strong></a></h1>
                <hr>

                @*  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                     <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Books" asp-action="Index">Books</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
                        </li>
                        <partial name="_LoginPartial" /> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Navbar End -->
    <!-- End Header -->


    @RenderBody()


    <!-- Footer Start -->

    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-10 footer-contact">
                        <h1 class="text-primary mb-3"><span class="fw-light text-dark"><strong>Harrison's</strong></span>Used Books</h1>
                       @*  <h1 class="text-primary mb-3 bg-light transparent"><span class="fw-light text-dark"><strong>Seminal Texts</strong></span>For Your Shelf</h1> *@
                      @*   <h1>Harrison's Used Books</h1> *@
                        <p>
                            116th and Broadway <br>
                            New York, NY 10027<br>
                            United States <br><br>
                            <strong>Email:</strong> admin@storefront.com<br>
                        </p>
                    </div>

                   @*  <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li> *@
                            @*   <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> *@
                      @*   </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Enrollment</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Scheduled Classes</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Students</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Student Statuses</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Courses</a></li>
                        </ul>
                    </div> *@

                    @* <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                    </div> *@



                   

                </div>
            </div>
        </div>

@*         <div class="container d-md-flex py-4"> *@

            <div class="d-flex justify-content-center mb-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>Harrison's Used Books</span></strong>. All Rights Reserved
                </div>
</div>

    </footer>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-info btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

   @*  <div class="container-fluid bg-white footer">
               @*  <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s"> *@
                   @*  <h5 class="mb-4">I'm Here to Answer any Questions!</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>420 W 118th St, New York, NY 10027</p>
                    <p><i class="fa fa-envelope me-3 text-dark"></i><span>admin@storefront.com</span></p> *@
               @*  <div class="col-md-6 text-center text-md-end text-dark">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Harrison's Used Books</span></strong>. All Rights Reserved
                    </div>
                 </div> *@
                

 @*    </div> *@ 
    <!-- Footer End -->


    

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>


    @RenderSection("scripts", required: false)

</body>

</html>

